# Ejercicio 

Escribir un programa que genere un DataFrame a partir del fichero titanic.csv y muestre por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.

# Solución

In [10]:
import pandas as pd

titanic = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv', sep='\t')

print('Dimensiones:', titanic.shape)
print('Número de elemntos:', titanic.size)
print('Nombres de columnas:', titanic.columns)
print('Nombres de filas:', titanic.index)
print('Tipos de datos:\n', titanic.dtypes)
print('Primeras 10 filas:\n', titanic.head(10))
print('Últimas 10 filas:\n', titanic.tail(10))

Dimensiones: (156, 12)
Número de elemntos: 1872
Nombres de columnas: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Nombres de filas: RangeIndex(start=0, stop=156, step=1)
Tipos de datos:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
Últimas 10 filas:
      PassengerId  Survived  Pclass  \
146          147         1       3
147          148         0       3
148          149         0       2
149          150         0       2
150          151         0       2
151          152         1       1
152          153         0       3
153          154         0       3
154          155         0       3
155          156         0       1

                                             Name     Sex   Age  SibSp  Parch  \
146  Andersson, Mr. August Edvard ("Wennerstrom")    male  27.0      0      0
147              Ford, Miss. Robina Maggie "Ruby"  female   9.0      2      2
148      Navratil, Mr. Michel ("Louis M Hoffman")    male  36.5      0      2
149             Byles, Rev. Thomas Roussel Davids    male  42.0      0      0
150                    Bateman, Rev. Robert James    male  51.0      0      0
151             Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1      0
152                              Meo, Mr. Alfonzo    male  55.5      0      0
153               van Billiard, Mr. Austin Blyler    male  40.5      0      2
154                         Olsen, Mr. Ole Martin    male   NaN      0      0
155                   Williams, Mr. Charles Duane    male  51.0      0      1

          Ticket     Fare Cabin Embarked
146       350043   7.7958   NaN        S
147   W./C. 6608  34.3750   NaN        S
148       230080  26.0000    F2        S
149       244310  13.0000   NaN        S
150  S.O.P. 1166  12.5250   NaN        S
151       113776  66.6000    C2        S
152   A.5. 11206   8.0500   NaN        S
153     A/5. 851  14.5000   NaN        S
154    Fa 265302   7.3125   NaN        S
155     PC 17597  61.3792   NaN        C